* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html { 
    font-size: 62.5%; 
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #1e1d23;
	color: #fff;
	font-size: 24px;
    text-align: center;
}

section{
    display: grid;
	height: 100vh;
    padding: 0 1em;
}

.converter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-self: center;
    padding: 2em;
    background-color: #05445E;
    border-radius: 8px;

    &__label, &__input{
        display: block;
    }

    &__label{
        font-size: 2.4rem;
    }

    &__input{
        padding: .4em .8em;
        margin: 1em 0;
        border: none;
        border-radius: 8px;
        font-size: 1.8rem;
        text-align: center;
    }

    &__result{
        margin-bottom: 1em;
        font-size: 2rem;
    }

    &__btn-box{
        display: flex;
        flex-direction: column;
    }

    &__btn{
        padding: .4em .8em;
        margin: .2em 0;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 8px;
        color: #fff;
        font-size: 1.6rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color .3s, color .3s;
    }

    &__btn:hover{
        background-color: #fff;
        color: #000;
    }

}

@media (width < 768px) {

    .converter{

        &__label{
            font-size: 2.8rem;
        }

        &__input{
            padding: .6em 1.2em;
            font-size: 2rem;

        }
    }
}

@media (width < 992px) {



    .converter{
        padding: 3em 2em;

        &__label{
            font-size: 3.4rem;
        }

        &__input{
            margin: 1.5em;
            padding: .6em 1.2em;
            font-size: 2rem;
        }

        &__result{
            margin-bottom: 1.5em;
            font-size: 2.2rem;
        }

        &__btn-box{
            flex-direction: row;
        }
    
        &__btn{
            padding: .5em 1em;
            margin: 0 .4em;
            background: transparent;
            border: 2px solid #fff;
            border-radius: 8px;
            color: #fff;
            font-size: 1.6rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color .3s, color .3s;
        }
    }
}

